language: python
sudo: false
python:
  - 2.6
  - 2.7
  - 3.2
  - 3.3
  - 3.4
  - 3.5
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: 
  - "python setup.py develop"
  - "pip install nose"
# command to run tests, e.g. python setup.py test
script: nosetests -w tests
